*{
    margin: 0;
    padding: 0;      
}
body{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(38deg, rgba(2,0,36,1) 0%, #92998296 83%, #35307abd 100%);        
    min-height: 100vh;    
}
a{    
    color: white;
    text-decoration: none;
}

/* Menu principal */

.menu_horizontal{
    min-height: 4vh;
    display: grid;        
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "seccion1 seccion2 seccion3 seccion4 seccion5";    
    background-color: #00250041;               
}

.menu_horizontal > .option > a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;    
}

.menu_inicio{
    grid-area: seccion1;
}

.menu_ingreso{
    grid-area: seccion2;
}

.menu_productos{
    grid-area: seccion3;
}

.menu_carrito{
    grid-area: seccion4;
}

.menu_about{
    grid-area: seccion5;
}
.menu_horizontal > .option:hover {
    background-color: rgba(48, 0, 124, 0.514);    
}

.menu_vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 20%;
    background-color: rgba(48, 0, 124, 0.514);
}

.menu_horizontal .menu_productos:hover .menu_vertical{
    display: block;
}

.menu_vertical li:hover{
    background-color: rgba(255, 255, 255, 0.514);
}

.menu_vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}

/* Titulo y footer */

.icon_tittle{
    display: flex;
    list-style: none;
    justify-content: center;
}
.icon_start{
    justify-content: left;
}

.icon_start > img{
    
    width: 100px;
}




.titulo, .h1_registro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5vw;
    font-family: sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a1aadb11;    
    color: #2e2222;  
}

.footer_container{

    
    background-color:  rgba(73, 78, 1, 0.425);
    color: aliceblue;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 2.5vh;   
    text-align: center;
    
}


#footer_link{
    color: red;
}

/* Productos HTML */


.contenedor_galeria{
    min-height: 70vh;
    display: grid;
        
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "foto1 foto2"
        "foto3 foto4";
    justify-items: center;    
    align-items: center;
    
}

.box{
    border: 5px solid rgba(255, 239, 239, 0.61);
    width: 15rem;
    height: 15rem;       
}

.box1{
    grid-area: foto1;
}

.box2{
    grid-area: foto2;
}

.box3{
    grid-area: foto3;
}

.box4{
    grid-area: foto4;
}

.box img{    
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;  
}


/* Ingreso HTML */

.form_login h2, .form_registro h2 {
    border-bottom: 4px solid rgba(0, 0, 0, 0.349);
    font-size: 6vh;
    margin: 30px;
    color: rgb(34, 26, 31);
    text-align: center;
}

.button_registro{
    display: flex;
    min-height: 100%;
    justify-content: space-around;
    margin-top: 8vh;
}

.button_registro > button{
    border-radius: 1vh;
    background-color: rgb(104, 85, 122);
    font-size: 4vh;             
}

/* Registro HTML */


.titulo_registro{
    display: flex;    
    justify-content: center;
    align-items: center;
     
}

.form_login > input, .form_registro > form input{
    color: rgb(241, 207, 228);
    background-color: rgba(0, 0, 0, 0);
    width: 100%;    
    font-size: 25px;
    border: none;       
    border-bottom:4px solid black ;
    
}

.form_login > input::placeholder, .form_registro > form input::placeholder{
    
    color: bisque;
}

.form_registro > form #registro_enviar:hover, #registro_reset:hover {
    background-color: rgba(48, 0, 124, 0.904);
    color: rgb(144, 158, 16);
}

/* About US.html */

.text_aboutUs {
    margin: 50px 50px;
    color: bisque;
    background-color: #aa7fc72a;
    font-size: 20px;
}


@media (max-width: 550px){
    
    .menu_horizontal{
        min-height: 4vh;
        display: grid;        
        grid-template-columns: 1fr;
        grid-template-areas: 
        "seccion1" "seccion2" "seccion3" "seccion4" "seccion5";    
        background-color: #00250041;               
    }
    
    .menu_horizontal > .option > a {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100%;    
    }    

    .menu_horizontal .menu_productos:hover .menu_vertical{
        display: none;
    }
       

    .menu_vertical{
        display: none;
    }

    .contenedor_galeria{
        grid-template-columns: 1fr;
        grid-template-areas: "foto1" "foto2" "foto3" "foto4";        
    }
    .box{
        margin: 5px;
    }
}