.menu_horizontal{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;        
    grid-template-areas:
    "icon1 f1 f2 f3 f4 f5"
    "seccion1 seccion2 seccion3 seccion4 seccion5 seccion6";       
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 25vh;
    border-bottom: 1.5vh solid rgba(255, 239, 239, 0.527);
        .option{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            min-height: 100%;    
        }
        .icon_start{
            grid-area: f1;
        }        
        .titulo{
            grid-area: seccion2;
        }        
        .menu_productos{
            grid-area: seccion3;
        }        
        .menu_ingreso{
            grid-area: seccion4;
        }      
        .menu_about{
            grid-area: seccion5;
        }
        .links:hover {
            background-color: rgba(48, 0, 124, 0.514);    
        }
        
}