*{
    margin: 0;
    padding: 0;      
}
body{    
    background: rgb(0, 0, 0);
    background: linear-gradient(38deg, rgb(126, 119, 255) 0%, #51574396 83%, #373099bd 100%);               
}
a{    
    color: white;
    text-decoration: none;
}